* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.container--grande {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center !important;
  align-items: center !important; }

.container--mediano {
  display: flex;
  width: 55%;
  height: auto;
  justify-content: center !important;
  align-items: center !important; }

.col {
  display: flex;
  text-align: center;
  padding: 10px 10px; }

.textContainer {
  padding-top: 90px; }

.card-img {
  width: 100%;
  height: 158px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  padding-top: 70px;
  padding-bottom: 90px;
  min-height: 70vh;
  font-family: 'Nunito', sans-serif !important; }

header, h1 {
  font-family: 'Oswald', sans-serif !important; }

p {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  padding: 10px 10px;
  font-size: 18px !important; }

.formulario {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  min-height: 89vh;
  flex-direction: column; }
  .formulario form {
    width: 392px; }
  .formulario p {
    min-width: 500px; }

.formularioField {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  margin: 10px 0; }
  .formularioField input[type=text],
  .formularioField input[type=email],
  .formularioField textarea {
    padding: 5px 15px;
    border: none;
    width: 100%; }
  .formularioField input[type=submit] {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    border-color: #131313;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    background-color: #131313;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 23px; }

h1 {
  font-weight: bold;
  text-align: center; }

.row {
  display: flex;
  justify-content: center; }

footer {
  align-items: center;
  height: 54px;
  width: 100%;
  gap: 100px;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0; }

.footerRight {
  display: flex;
  flex-direction: row; }
  .footerRight a {
    flex: 1 1;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px; }
    .footerRight a img {
      width: 100%; }

.navbar-brand {
  font-size: 24px; }

nav {
  height: 70px;
  padding: 0 5%;
  background-color: #1d1c1c;
  top: 0;
  width: 100%; }

.navBar-nav .actual {
  background-color: #be313a !important;
  color: black !important; }

.nav-link {
  color: #be313a !important; }

.navBar-brand a {
  color: #be313a !important; }

.btn-primary {
  background-color: #be313a !important;
  color: black !important;
  border-color: #1d1c1c !important;
  opacity: 0.8 !important; }

body {
  background-color: #747474; }

.card-body {
  background-color: #d3d1d1 !important; }

footer {
  background-color: #5c5c5c; }

/* Animacion logo */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

/* ----------------------------------------------
 * Generated by Animista on 2022-5-15 19:15:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* NavBar */
.navBar a:hover {
  background-color: #470303;
  color: #b8b8b8 !important; }

@media screen and (max-width: 768px) {
  footer div {
    font-size: 11px; }
  li.nav-item {
    text-align: center; }
  .formulario form {
    width: 340px; }
  .formulario p {
    min-width: 340px; } }
