* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$imgAncho: (
    grande: 100%,
    mediano: 55%,
);

$padProp: (
    pad: 90px,
);

@each $medida,
$tamanio in $imgAncho {
    .container--#{$medida} {
        display: flex;
        width: $tamanio;
        height: auto;
        justify-content: center !important;
        align-items: center !important;
    }
}

.col {
    display: flex;
    text-align: center;
    padding: 10px 10px;
}


.textContainer {
    padding-top: map-get($padProp,pad );
}

main {
    padding-bottom: map-get($padProp,pad );
    font-family: 'Nunito', sans-serif !important;
}

header {
    font-family: 'Oswald', sans-serif !important;
}

h1 {
    @extend header;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
}


footer {
    align-items: center;
    height: 54px;
    width: 100%;
    gap: 100px;
    padding-bottom: 0px;
}


.footerRight {
    display: flex;
    flex-direction: row;

    a {
        flex: 1 1;
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 10px;

        img {
            width: 100%;
        }
    }
}

.navbar-brand {
    font-size: 24px;
}

