* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$imgAncho: (
    grande: 100%,
    mediano: 55%,
);

$padProp: (
    pad: 70px,
);

@mixin displayCont {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

@each $medida,
$tamanio in $imgAncho {
    .container--#{$medida} {
        display: flex;
        width: $tamanio;
        height: auto;
        justify-content: center !important;
        align-items: center !important;
    }
}

.col {
    display: flex;
    text-align: center;
    padding: 10px 10px;
}


.textContainer {
    padding-top: map-get($padProp, pad);
}

.card-img {
    width: 100%;
    height: 158px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 70px;
    padding-bottom: map-get($padProp, pad);
    min-height: 70vh;
    font-family: 'Nunito', sans-serif !important;
}

header {
    font-family: 'Oswald', sans-serif !important;
}

p {
    @include displayCont;
    padding: 10px 10px;
    font-size: 23px !important;
}

.formulario {
    @include displayCont;
    min-height: 72vh;
    flex-direction: column;

    form {
        width: 392px;
    }

    p {
        min-width: 500px;
    }
}

.formularioField {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    margin: 10px 0;

    input[type=text],
    input[type=email],
    textarea {
        padding: 5px 15px;
        border: none;
        width: 100%;
    }

    input[type=submit] {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        border-color: #131313;
        font-size: 15px;
        line-height: 50px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        background-color: #131313;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 23px;
    }
}




h1 {
    @extend header;
    padding-bottom: 16px;
    font-weight: bold;
    text-align: center;
}

h2 {
    @extend h1;
    padding-bottom: 8px !important;
    padding-top: 11px;
}

h3 {
    @extend h1;
    font-size: 22px !important;
}

.row {
    display: flex;
    justify-content: center;
}

.colIzq {
    align-items: flex-start;
    justify-content: flex-start;
}

.colDer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.maps {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

footer {
    align-items: center;
    height: 54px;
    width: 100%;
    gap: 100px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
}


.footerRight {
    display: flex;
    flex-direction: row;

    a {
        flex: 1 1;
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 10px;

        img {
            width: 100%;
        }
    }
}

.navbar-brand {
    font-size: 24px;
}