@media screen and (max-width: 768px) {
    footer div {
        font-size: 11px;
    }

    li.nav-item {
        text-align: center;
    }

    .formulario form {
        width: 340px;
    }

    .formulario p {
        min-width: 340px;
    }

}