@media screen and (max-width: 768px) {
    footer div {
        font-size: 11px;
    }

    li.nav-item {
        text-align: center;
    }

    .formulario form {
        width: 340px;
    }

    .formulario p {
        min-width: 340px;
    }

    h1 {
        padding-bottom: 12px;
    }

    p {
        padding: 8px 60px;
        font-size: 18px !important;
    }

    .col {
        padding: 20px 10px;
    }

    .textContainer {
        padding-top: 30px;

        div {
            p {
                padding: 10px 24px !important;
                font-size: 18px !important;
                margin: 0px 5%;
            }
        }
    }

    div .card-body {
        p {
            padding: 2px 2px;
            font-size: 18px !important;
        }
    }


    h3 {
        padding: 0px 24px;
    }

    iframe {
        height: 500px;
        padding: 0px 5%;
        margin: 10% 0px;
    }
}





@media screen and (max-width: 576px) {
    footer div {
        font-size: 9px;
    }

    li.nav-item {
        text-align: center;
    }

    .formulario form {
        width: 340px;
    }

    .formulario p {
        min-width: 340px;
    }

    h1 {
        padding-bottom: 10px;
    }

    div .card-body {
        p {
            padding: 2px 2px;
            font-size: 18px !important;
        }
    }

    .textContainer {
        padding-top: 40px;
        p {
            padding: 10px 24px !important;
            font-size: 18px !important;
            margin: 0px 5%;
        }
    }

    .col {
        padding: 24px 10px;
    }

    h3 {
        padding: 0px 24px;
    }

    iframe {
        height: 450px;
        padding: 0px 5%;
        margin: 10% 0px;
    }
}