/* TODAS LAS PAGINAS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    height: 70px;
    padding: 0 5%;
    background-color: #1d1c1c;
    /* position: sticky; */
    top: 0;
    width: 100%;
}

#portada {
    width: 100%;
    /* height: 895px; */
    height:auto;

}

body {
    background-color: #747474;
}

.col{
    display: flex;
    text-align: center;
    padding: 10px 10px;
}

.cards-img-top {
    width: 55%;
    height: auto;
}

.card-body {
    background-color: rgb(211, 209, 209) !important;
}

.textContainer{
    padding-top: 90px;
}

main {
    padding-bottom: 90px;
}

row {
    display: flex;
    justify-content: center;
}

.footerRight a img {
    width: 100%;
}

footer {
 /*   display: flex;
    justify-content: space-between;
    position: fixed;*/
    bottom: 0px;
    align-items: center;
    height: 34px;
    width: 100%;
    gap: 100px;
    padding-bottom: 8px;
}


.footerRight {
    display: flex;
    flex-direction: row;

}

.footerRight a {
    flex: 1 1;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.footerRight a img {
    width: 100%;
}


/* Codigo viejo
header {
    height: 105px;
    padding: 0 5%;
    background-color: #1d1c1c;
    position: fixed;
    top: 0;
    width: 100%;
}


.productosIndex,
.textContainer,
footer {
    padding: 0 5%;
}

main .main_container {
    padding: 0 5%;
}

main {
    margin-top: 105px;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #747474;
}

h2,
h3,
h4,
h5 {
    text-align: center;
    padding: 20px -20px;
}

h2 {
    margin: 24px;
    font-size: 32px;
}

section.novedadesIndex {
    margin: 34px 0;
}

section.productosIndex {
    margin: 24px 0;
}

.productosIndex {
    display: flex;
    flex-direction: column;

}

.productosIndex .productosItem {
    flex: 1 1;
}

.productosIndex .productosItem img {
    
    width: auto;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


p {
    padding: 20px;
    color: #cccccc;
    font-family: 'Nunito', sans-serif;
    border-radius: 3px;
    text-align: center;
}

body header .navBar {
    background-color: #1d1c1c;
    height: 105px;
}

header .navBar {
    padding: 0%;
    size: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar a {
    color: #be313a;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navBar li {
    display: inline-block;
}

.navBar a .logo {
    font-size: 40px;
    font-weight: bold;
}

header .navBar .menu {
    flex-direction: row;
}

.navBar .menu {
    display: flex;
    color: #cccccc;
    padding: 2px;
    display: block;
    font-size: 17px;
    font-weight: normal;
}

.navBar a:hover {
    background-color: rgb(71, 3, 3);
    color: rgb(184, 184, 184);
}

.navBar .menu .actual {
    background-color: #be313a;
    color: black;
}

.menu {
    float: right;
}



main .productosIndex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    align-items: center;
    height: 34px;
    width: 100%;
    background-color: #6b6b6b;
    gap: 100px;
}


.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerRight a {
    flex: 1 1;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.footerRight a img {
    width: 100%;
}

*/

/* Animacion logo */

/*.text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
*/

/* ----------------------------------------------
 * Generated by Animista on 2022-5-15 19:15:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/*
 @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
*/

/* Pagina Sucursales */
/*
.resp_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
*/

/* Pagina Contacto*/
/*
form {
    border: 1px solid black;
    background-color: rgb(211, 208, 208);
    font-family: 'Nunito', sans-serif;
    padding: 2%;
    
}

form div {
    padding: 4px;

}

form input {
    padding: 2px;
}

.boton {
    background-color: #1d1c1c;
    color: #cccccc;
}

.boton:hover {
    background-color: #be313a;
}


#portada {
    width: 100%;
    height: 895px;

}

.index_container {

    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 18px 22px;
    grid-auto-flow: row;
    grid-template-areas: "cards cards cards"
        "cards cards cards";
    grid-area: main_container;
    padding: 20px 6.5%;
    margin-bottom:15%;
}

*/
/* Pagina Nosotros*/
/*
iframe {
    width: 800px;
    height: 600px;
    border: none;
}
*/
/* Pagina Contacto*/
/*
.formulario {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 5%;
    margin-top: 24px;
}
*/
/* Galeria de images*/
/*
.main_container {

    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px 22px;
    grid-auto-flow: row;
    grid-template-areas:
        "cards cards cards"
        "cards cards cards";
    grid-area: main_container;
 

}

.cards {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
    border-radius: 2px;
}

.cards .card_container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.cards img {
    width: 50%;
    height: auto;
}

.card_img {
    width: 100%;
    height: 300px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    padding: 0px;
    text-align: center;
}
*/
/* Pagina Nosotros*/
/*
.maps {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 24px;
}

@media screen and (max-width: 768px) {

    #portada {
        width: 100%;
        height: auto;
    }

    header .navBar {
        flex-direction: column;
    }

    body header .navBar {
        background-color: #1d1c1c;
        height: 88px;
    }
    .navBar a {
        font-size: 14px;
    }

    .productosIndex .productosItem {
        text-align: center;
    }

    main .productosIndex {
        flex-direction: column;

    }

    .footerLeft h5 {
        font-size: 10px;
    }

    .index_container {
  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: initial;
        gap: initial; 
        grid-auto-flow: initial; 
        grid-template-areas: initial; 
        grid-area: main_container;
        padding: 20px 6.5%;

    }

    .cards img {
        width: 55%;
        height: auto;
    }

    .main_container {
        display: grid;
        justify-content: initial;
        grid-template-columns: 1fr;
        grid-template-rows: initial;
        gap: initial;
        grid-auto-flow: initial;
        grid-template-areas: initial;
        grid-area: main_container;
    }
}
*/